<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title th:text="#{title.search.vacancy.page}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand bg-primary">
    <a class="navbar-brand" th:href="@{/}" th:text="#{button.main.page}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/company}" th:text="#{button.company.list}"></a>
            <a class="nav-item nav-link" th:href="@{/vacancy}" th:text="#{button.vacancy.list}"></a>
            <a class="nav-item nav-link" th:href="@{/course}" th:text="#{button.course.list}"></a>
            <a class="nav-item nav-link" th:href="@{/technology}" th:text="#{button.technology.list}"></a>
        </div>
    </div>
</nav>

<form th:action="@{/vacancy/search}" method="post" autocomplete="off">
    <div>
        <label th:text="#{col.vacancy.name}"/>
        <input name="name" type="text" class="form-control mb-4 col-4" th:value="*{name}">
    </div>
    <button type="submit" class="btn btn-info col-2" th:text="#{button.find}"></button>
</form>


<h1 th:text="#{button.vacancy.list}"></h1>
<br/>
<table class="table">
    <thead class="table-light">
    <tr>
        <th scope="col" th:text="#{col.vacancy.name}"></th>
        <th scope="col" th:text="#{col.vacancy.status}"></th>
        <th scope="col" th:text="#{col.vacancy.location}"></th>
        <th scope="col" th:text="#{col.vacancy.work.time}"></th>
        <th scope="col" th:text="#{col.vacancy.experience}"></th>
        <th scope="col" th:text="#{col.vacancy.salary}"></th>
        <th scope="col" th:text="#{col.vacancy.prof.lvl}"></th>
        <th scope="col" th:text="#{col.vacancy.english}"></th>
        <th scope="col" th:text="#{col.vacancy.company}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vacancy:${vacancyList}">
        <td th:text="${vacancy.name}"></td>
        <td th:text="${vacancy.status}"></td>
        <td th:text="${vacancy.location}"></td>
        <td th:text="${vacancy.workingTime}"></td>
        <td th:text="${vacancy.experience}"></td>
        <td th:text="${vacancy.salary}"></td>
        <td th:text="${vacancy.professionLevel}"></td>
        <td th:text="${vacancy.englishLevel}"></td>
        <td th:text="${vacancy.getCompanyName}">
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-outline-primary" th:href="@{'?locale=en_US'}" th:text="#{lang.en}"></a>
    <a class="btn btn-outline-primary" th:href="@{'?locale=ru_RU'}" th:text="#{lang.ru}"></a>
</div>
</body>
</html>