<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Настройки</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand bg-primary">
    <a class="navbar-brand" th:href="@{/}" th:text="#{button.main.page}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/company}" th:text="#{button.company.list}"></a>
            <a class="nav-item nav-link" th:href="@{/vacancy}" th:text="#{button.vacancy.list}"></a>
            <a class="nav-item nav-link" th:href="@{/course}" th:text="#{button.course.list}"></a>
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <a class="nav-item nav-link" th:href="@{/technology}" th:text="#{button.technology.list}"></a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link" th:href="@{/user}" th:text="#{col.user.page}"></a>
            </div>
        </div>
    </div>
</nav>

<form th:action="@{/user}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{username}"/>
    <input type="hidden" th:field="*{password}"/>
    <input type="hidden" th:field="*{roles}">
    <input type="hidden" th:field="*{active}">
    <input type="hidden" th:field="*{courses}">


    <label>Имя</label>
    <input type="text" th:field="*{name}"/>

    <label>Фамилия</label>
    <input type="text" th:field="*{surname}"/>

    <label> Эл почта</label>
    <input type="text" th:field="*{email}"/>

    <label>Телефон</label>
    <input type="text" th:field="*{phoneNumber}"/>

    <label>О себе</label>
    <textarea rows="7" type="text" th:field="*{description}"/>

    <button type="submit">ИЗменить</button>
</form>
</body>
</html>